@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Source+Code+Pro:200,300,400,500,600,700,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');

body, div, html, svg { margin: 0px; padding: 0px; }
body { background-color: #f0f0f0; color: #444; -webkit-font-smoothing: antialiased;}
pre, img { font-family: 'Source Code Pro', monospace; font-weight: 300;  line-height: 0; counter-reset: line; }
pre span, img span { display: block; line-height: 1.35rem; padding-bottom: 5px;}
pre span:before, img span:before { counter-increment: line; content: counter(line); display: inline-block; border-right: 0.5px solid #ccc; width: 3ch; padding: 0 .5em; margin-right: .5em; color: #888; text-align: right; font-weight: 700;}
img {padding: 0px; margin: 0px; margin-bottom: 15px;}
a {color: #333333; text-decoration: none; target:_blank;}
a h1 {text-decoration: none;}
body {margin-top: 150px; min-width: 750px; width: 40ch; margin: 4em auto; padding: .5em;}
.span {padding: 0px; margin: 0px;}
.section {margin: 0px; padding: 0px; width: 100%; height: 15px;}
.title {font-weight: 900; text-decoration: underline;}
.super-title {font-family: 'Montserrat', Veranda, sans-serif; font-size: 24px; font-weight: 700; margin-bottom: 25px; text-decoration: underline;}

.page-title {
    font-family: 'Montserrat', Veranda, sans-serif;
    font-weight: 700;
    font-size:2.75em;
    padding:0px;
    margin:0px;
    line-height: 1;
}

.page-subtitle {
    font-family: 'Montserrat', Veranda, sans-serif;
    font-weight:200;
    font-size: 1.6em;
    padding:0px;
    margin:0px;
    line-height: 1;
    margin-bottom: 0px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 0px;
    margin: 0px;
    align: left;
    display: block;
}
.header-text {
    margin: 0, auto;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0px;
}

.header-text .image {
    width: 100px;
    height: 100px;
    float: left;
    padding: 0px;
    margin: 0px;
    margin-right: 15px;
}

.header-text .text {
}

.social-icons {
    font-size: 24px;
    margin: 2px;
    margin-top: 5px;
    padding: 0px;
}

.social-icons li {
    padding: 5px;
    -o-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1.0s;
    transition:.5s;
}

.social-icons li:hover {
    opacity: 0.7;
}
