/*
Mable Main CSS File

=================
Table of Contents
=================

0: Root Variables & Reset
	0.1: Import
	0.2: Root Variables
	0.3: Reset
	0.4: Font import
1: Layout
	1.1: Section
	1.2: Grid
	1.3: Elements
2: Fonts & Text
	2.1: Headings
	2.2: Body Fonts
	2.3: Small Screens
3: Colors
	3.1: Section Colors
	3.2: Element Colors
4: Buttons
	4.1: Small Screens
5: Code
6: Header
	6.1: Header Colors
	6.2: Sticky Headers
	6.3: Small Screens
7: Footer
	7.1: Small Screens
8: Table
9: Override

*/

/*	==============================================
	0: Root Variables & Reset
	============================================== */

/* 0.1: Import */

@import url("font-awesome.css");

/* 0.2: Root Variables */

:root {
	--color-black: #000000;
	--color-dark: #202020;
	--color-white: #ffffff;
	--color-light: #f5f5f5;
	--color-theme: #f2ab23;
	--background-color: var(--color-white);
	--body-color: var(--color-black);
	--title-font: "Noto Sans", sans-serif;
	--title-weight: 900;
	--title-size: 72px;
	--body-font: "Noto Sans", sans-serif;
	--body-size: 20px;
	--reading-font: "Noto Serif", serif;
	--monospace-font: "Noto Mono", monospace;
}

/* 0.3: Reset */

* {
	margin: 0;
	padding: 0;
}

html, body {
	scroll-behavior: smooth;
}

* {
	color: var(--body-color);
	transition-duration: 0.25s;
	background-position: center;
	background-size: cover;
}

[class*="section-"] {
	background-color: var(--background-color);
}

iframe {
	border: 0;
}

img {
	width: 100%;
}

/* 0.4: Font Import */

@import url("../fonts/noto-sans.css");
@import url("../fonts/noto-serif.css");
@import url("../fonts/noto-mono.css");

body {
	font-family: var(--body-font);
}

/*	==============================================
	1: Layout
	============================================== */

/* 1.1: Section */

section {
	padding: 70px 0;
}

.section-edgeless {
	padding: 0;
}

.breadcrumbs {
	padding: 10px 0;
	font-family: var(--monospace-font);
}

.section-thin {
	padding: 30px 0;
}

.section-large {
	padding: 150px 0;
}

.section-huge {
	padding: 310px 0;
}

.section-full {
	height: 100%;
	width: 100%;
	padding: 0;
	display: flex;
	align-items: center;
}

.container, .container-fluid, .container-large {
	width: calc(100%-60px);
	margin: 0 30px;
}

.row {
	margin: 20px 0;
	width: 100%;
}

@media only screen and (min-width: 54rem) {
	.container {
		max-width: 800px;
		margin-left: calc(50% - 400px);
	}
}

@media only screen and (min-width: 78.75rem) {
	.container-large {
		max-width: 1200px;
		margin: 0 calc(50% - 600px);
	}
}

/* 1.2: Grid */

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 60px;
}

.grid.portfolio {
	grid-gap: 30px;
}

.grid.portfolio img {
	margin-top: 0;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
	grid-column-end: span 12;
	padding: calc(var(--body-size) * 1/2);
}

.hidden-sm {
	display: block;
}

.merge-two-rows { grid-row-end: span 2;}
.merge-three-rows { grid-row-end: span 3;}
.merge-four-rows { grid-row-end: span 4;}
.merge-five-rows { grid-row-end: span 5;}
.merge-six-rows { grid-row-end: span 6;}

.one { grid-column-end: span 1;}
.two { grid-column-end: span 2;}
.three { grid-column-end: span 3;}
.four { grid-column-end: span 4;}
.five { grid-column-end: span 5;}
.six { grid-column-end: span 6;}
.seven { grid-column-end: span 7;}
.eight { grid-column-end: span 8;}
.nine { grid-column-end: span 9;}
.ten { grid-column-end: span 10;}
.eleven { grid-column-end: span 11;}

@media only screen and (max-width: 54rem) {
	.one { grid-column-end: span 4;}
	.two { grid-column-end: span 4;}
	.three { grid-column-end: span 6;}
	.four { grid-column-end: span 6;}
	.five { grid-column-end: span 12;}
	.six { grid-column-end: span 12;}
	.seven { grid-column-end: span 12;}
	.eight { grid-column-end: span 12;}
	.nine { grid-column-end: span 12;}
	.ten { grid-column-end: span 12;}
	.eleven { grid-column-end: span 12;}
	
	.grid {
		grid-gap: 40px;
	}

	.grid.portfolio {
		grid-gap: 20px;
	}
}

@media only screen and (max-width: 35rem) {
	.one { grid-column-end: span 12;}
	.two { grid-column-end: span 12;}
	.three { grid-column-end: span 12;}
	.four { grid-column-end: span 12;}
	.five { grid-column-end: span 12;}
	.six { grid-column-end: span 12;}
	.seven { grid-column-end: span 12;}
	.eight { grid-column-end: span 12;}
	.nine { grid-column-end: span 12;}
	.ten { grid-column-end: span 12;}
	.eleven { grid-column-end: span 12;}
	
	.grid {
		grid-gap: 20px;
	}

	.grid.portfolio {
		grid-gap: 10px;
	}
}

/* 1.3: Elements */

h1, h2, h3, h4, h5, h6, h2.tagline, p, code, pre, a.button, img {
	margin: calc(var(--body-size) * 1/2) 0;
}


/*	==============================================
	2: Fonts & Text
	============================================== */

/* 2.1: Headings */

h1, h2, h3, h4, h5, h6 {
	font-family: var(--title-font);
	font-weight: var(--title-weight);
}
h2.tagline {
	font-family: var(--body-font);
	font-weight: var(--body-weight);
}

h1 {font-size: var(--title-size);}
h2 {font-size: calc(var(--title-size) * 8/9);}
h3 {font-size: calc(var(--title-size) * 7/9);}
h4 {font-size: calc(var(--title-size) * 6/9);}
h5 {font-size: calc(var(--title-size) * 5/9);}
h6 {font-size: calc(var(--title-size) * 4/9);}
h2.tagline {font-size: calc(var(--body-size) * 3/2);}

.small h1, h1.small {font-size: calc(var(--title-size) * 3/4)}
.small h2, h2.small {font-size: calc(var(--title-size) * 8/9 * 3/4)}
.small h3, h3.small {font-size: calc(var(--title-size) * 7/9 * 3/4)}
.small h4, h4.small {font-size: calc(var(--title-size) * 6/9 * 3/4)}
.small h5, h5.small {font-size: calc(var(--title-size) * 5/9 * 3/4)}
.small h6, h6.small {font-size: calc(var(--title-size) * 4/9 * 3/4)}
.small h2.tagline, h2.tagline.small {font-size: calc(var(--body-size) * 3/2 * 3/4);}

.large h1, h1.large {font-size: calc(var(--title-size) * 6/4)}
.large h2, h2.large {font-size: calc(var(--title-size) * 8/9 * 6/4)}
.large h3, h3.large {font-size: calc(var(--title-size) * 7/9 * 6/4)}
.large h4, h4.large {font-size: calc(var(--title-size) * 6/9 * 6/4)}
.large h5, h5.large {font-size: calc(var(--title-size) * 5/9 * 6/4)}
.large h6, h6.large {font-size: calc(var(--title-size) * 4/9 * 6/4)}
.large h2.tagline, h2.tagline.large {font-size: calc(var(--body-size) * 3/2 * 5/4);}

h1 {
	text-transform: uppercase;
}

h2.tagline {
	font-weight: 300;
}

/* 2.2: Body Fonts */

.reading, .reading p, .reading a {
	font-family: var(--reading-font);
}

p {
	font-size: var(--body-size);
}
.small p, p.small {font-size: calc(var(--body-size) * 3 /4);}
.large p, p.large {font-size: calc(var(--body-size) * 5/4);}

p .dropcap {
	font-family: var(--body-font);
	font-weight: var(--title-weight);
	font-size: calc(var(--body-size) * 4);
	line-height: calc(var(--body-size) * 3);
	float: left;
	padding-top: calc(var(--body-size) * 1/2);
	padding-right: calc(var(--body-size) * 1/2);
	padding-left: calc(var(--body-size) * 1/3);
	text-transform: uppercase;
}
.small p .dropcap, p.small .dropcap {
	font-size: calc(var(--body-size) * 4 * 3/4);
	line-height: calc(var(--body-size) * 3 * 3/4);
	padding-top: calc(var(--body-size) * 1/2 * 3/4);
	padding-right: calc(var(--body-size) * 1/2 * 3/4);
	padding-left: calc(var(--body-size) * 1/3 * 3/4);
}
.large p .dropcap, p.large .dropcap {
	font-size: calc(var(--body-size) * 4 * 5/4);
	line-height: calc(var(--body-size) * 3 * 5/4);
	padding-top: calc(var(--body-size) * 1/2 * 5/4);
	padding-right: calc(var(--body-size) * 1/2 * 5/4);
	padding-left: calc(var(--body-size) * 1/3 * 5/4);
}

.portfolio a {
	text-decoration: none;
}

.fa-icon i.fa, i.fa.fa-icon, .fa-icon i.fab, i.fab.fa-icon, .fa-icon i.far, i.far.fa-icon, .fa-icon i.fa-regular, i.fa-regular.fa-icon, .fa-icon i.fas, i.fas.fa-icon, .fa-icon i.fa-solid, i.fa-solid.fa-icon {
	font-size: calc(var(--body-size) * 3);
}

/* 2.3: Small Screens */

@media only screen and (max-width: 54rem) {
	h1 {font-size: calc(var(--title-size) * 3/4)}
	h2 {font-size: calc(var(--title-size) * 8/9 * 3/4);}
	h3 {font-size: calc(var(--title-size) * 7/9 * 3/4);}
	h4 {font-size: calc(var(--title-size) * 6/9 * 3/4);}
	h5 {font-size: calc(var(--title-size) * 5/9 * 3/4);}
	h6 {font-size: calc(var(--title-size) * 4/9 * 3/4);}
	h2.tagline {font-size: calc(var(--body-size) * 3/2 * 3/4);}

	.small h1, h1.small {font-size: calc(var(--title-size))}
	.small h2, h2.small {font-size: calc(var(--title-size) * 8/9 * 2/4)}
	.small h3, h3.small {font-size: calc(var(--title-size) * 7/9 * 2/4)}
	.small h4, h4.small {font-size: calc(var(--title-size) * 6/9 * 2/4)}
	.small h5, h5.small {font-size: calc(var(--title-size) * 5/9 * 2/4)}
	.small h6, h6.small {font-size: calc(var(--title-size) * 4/9 * 2/4)}
	.small h2.tagline, h2.tagline.small {font-size: calc(var(--body-size) * 3/2 * 2/4);}

	.large h1, h1.large {font-size: calc(var(--title-size) * 4/4)}
	.large h2, h2.large {font-size: calc(var(--title-size) * 8/9 * 4/4)}
	.large h3, h3.large {font-size: calc(var(--title-size) * 7/9 * 4/4)}
	.large h4, h4.large {font-size: calc(var(--title-size) * 6/9 * 4/4)}
	.large h5, h5.large {font-size: calc(var(--title-size) * 5/9 * 4/4)}
	.large h6, h6.large {font-size: calc(var(--title-size) * 4/9 * 4/4)}
	.large h2.tagline, h2.tagline.large {font-size: calc(var(--body-size) * 3/2 * 4/4);}
	
	p {font-size: calc(var(--body-size) * 3/4 * 4/4);}
	.small p, p.small {font-size: calc(var(--body-size) * 2 /4);}
	.large p, p.large {font-size: var(--body-size);}
	
	p .dropcap {
		font-size: calc(var(--body-size) * 4 * 3/4);
		line-height: calc(var(--body-size) * 3 * 3/4);
		padding-top: calc(var(--body-size) * 1/2 * 3/4);
		padding-right: calc(var(--body-size) * 1/2 * 3/4);
		padding-left: calc(var(--body-size) * 1/3 * 3/4);
	}
	.small p .dropcap, p.small .dropcap {
		font-size: calc(var(--body-size) * 4 * 2/4);
		line-height: calc(var(--body-size) * 3 * 2/4);
		padding-top: calc(var(--body-size) * 1/2 * 2/4);
		padding-right: calc(var(--body-size) * 1/2 * 2/4);
		padding-left: calc(var(--body-size) * 1/3 * 2/4);
	}
	.large p .dropcap, p.large .dropcap {
		font-size: calc(var(--body-size) * 4 * 4/4);
		line-height: calc(var(--body-size) * 3 * 4/4);
		padding-top: calc(var(--body-size) * 1/2 * 4/4);
		padding-right: calc(var(--body-size) * 1/2 * 4/4);
		padding-left: calc(var(--body-size) * 1/3 * 4/4);
	}

	.fa-icon i.fa, i.fa.fa-icon, .fa-icon i.fab, i.fab.fa-icon, .fa-icon i.far, i.far.fa-icon, .fa-icon i.fa-regular, i.fa-regular.fa-icon, .fa-icon i.fas, i.fas.fa-icon, .fa-icon i.fa-solid, i.fa-solid.fa-icon {
		font-size: calc(var(--body-size) * 3 * 3/4);
	}
}

@media only screen and (max-width: 25rem) {
	h1 {font-size: calc(var(--title-size) * 2/4)}
	h2 {font-size: calc(var(--title-size) * 8/9 * 2/4);}
	h3 {font-size: calc(var(--title-size) * 7/9 * 2/4);}
	h4 {font-size: calc(var(--title-size) * 6/9 * 2/4);}
	h5 {font-size: calc(var(--title-size) * 5/9 * 2/4);}
	h6 {font-size: calc(var(--title-size) * 4/9 * 2/4);}
	h2.tagline {font-size: calc(var(--body-size) * 3/2 * 2/4);}

	.small h1, h1.small {font-size: calc(var(--title-size))}
	.small h2, h2.small {font-size: calc(var(--title-size) * 8/9 * 2/4)}
	.small h3, h3.small {font-size: calc(var(--title-size) * 7/9 * 2/4)}
	.small h4, h4.small {font-size: calc(var(--title-size) * 6/9 * 2/4)}
	.small h5, h5.small {font-size: calc(var(--title-size) * 5/9 * 2/4)}
	.small h6, h6.small {font-size: calc(var(--title-size) * 4/9 * 2/4)}
	.small h2.tagline, h2.tagline.small {font-size: calc(var(--body-size) * 3/2 * 2/4);}

	.large h1, h1.large {font-size: calc(var(--title-size) * 3/4)}
	.large h2, h2.large {font-size: calc(var(--title-size) * 8/9 * 3/4)}
	.large h3, h3.large {font-size: calc(var(--title-size) * 7/9 * 3/4)}
	.large h4, h4.large {font-size: calc(var(--title-size) * 6/9 * 3/4)}
	.large h5, h5.large {font-size: calc(var(--title-size) * 5/9 * 3/4)}
	.large h6, h6.large {font-size: calc(var(--title-size) * 4/9 * 3/4)}
	.large h2.tagline, h2.tagline.large {font-size: calc(var(--body-size) * 3/2 * 3/4);}
	
	p {font-size: calc(var(--body-size) * 3/4 * 3/4);}
	.small p, p.small {font-size: calc(var(--body-size) * 2 /4);}
	.large p, p.large {font-size: var(--body-size);}
	
	p .dropcap {
		font-size: calc(var(--body-size) * 4 * 3/4);
		line-height: calc(var(--body-size) * 3 * 3/4);
		padding-top: calc(var(--body-size) * 1/2 * 3/4);
		padding-right: calc(var(--body-size) * 1/2 * 3/4);
		padding-left: calc(var(--body-size) * 1/3 * 3/4);
	}
	.small p .dropcap, p.small .dropcap {
		font-size: calc(var(--body-size) * 4 * 3/4);
		line-height: calc(var(--body-size) * 3 * 3/4);
		padding-top: calc(var(--body-size) * 1/2 * 3/4);
		padding-right: calc(var(--body-size) * 1/2 * 3/4);
		padding-left: calc(var(--body-size) * 1/3 * 3/4);
	}
	.large p .dropcap, p.large .dropcap {
		font-size: calc(var(--body-size) * 4 * 3/4);
		line-height: calc(var(--body-size) * 3 * 3/4);
		padding-top: calc(var(--body-size) * 1/2 * 3/4);
		padding-right: calc(var(--body-size) * 1/2 * 3/4);
		padding-left: calc(var(--body-size) * 1/3 * 3/4);
	}

	.fa-icon i.fa, i.fa.fa-icon, .fa-icon i.fab, i.fab.fa-icon, .fa-icon i.far, i.far.fa-icon, .fa-icon i.fa-regular, i.fa-regular.fa-icon, .fa-icon i.fas, i.fas.fa-icon, .fa-icon i.fa-solid, i.fa-solid.fa-icon {
		font-size: calc(var(--body-size) * 3 * 2/4);
	}
}

/*	==============================================
	3: Colors
	============================================== */

/* 3.1: Section Colors */

.section-black {
	--background-color: var(--color-black);
	--body-color: var(--color-white);
}
.section-black * {--body-color: var(--color-white);}

.section-dark {
	--background-color: var(--color-dark);
	--body-color: var(--color-light);
}
.section-dark * {--body-color: var(--color-light);}

.section-white {
	--background-color: var(--color-white);
	--body-color: var(--color-black);
}
.section-white * {--body-color: var(--color-black);}

.section-light {
	--background-color: var(--color-light);
	--body-color: var(--color-dark);
}
.section-light * {--body-color: var(--color-dark);}

.section-theme {
	--background-color: var(--color-theme);
	--body-color: var(--color-light);
}
.section-theme * {--body-color: var(--color-light);}

.section-theme-inverted {
	--background-color: var(--color-light);
	--body-color: var(--color-theme);
}
.section-theme-inverted * {--body-color: var(--color-theme);}

.section-theme-accents, .section-theme-accents * {
	--body-color: var(--color-theme);
}

.section-transparent {
	--background-color: transparent;
}

.section-dots {
	background-image: url("../images/background/dot.svg");
}

html:is([data-scroll='0']) .top-section-black {
	--background-color: var(--color-black);
	--body-color: var(--color-white);
}
html:is([data-scroll='0']) .top-section-black * {--body-color: var(--color-white);}

html:is([data-scroll='0']) .top-section-dark {
	--background-color: var(--color-dark);
	--body-color: var(--color-light);
}
html:is([data-scroll='0']) .top-section-dark * {--body-color: var(--color-light);}

html:is([data-scroll='0']) .top-section-white {
	--background-color: var(--color-white);
	--body-color: var(--color-black);
}
html:is([data-scroll='0']) .top-section-white * {--body-color: var(--color-black);}

html:is([data-scroll='0']) .top-section-light {
	--background-color: var(--color-light);
	--body-color: var(--color-dark);
}
html:is([data-scroll='0']) .top-section-light * {--body-color: var(--color-dark);}

html:is([data-scroll='0']) .top-section-theme {
	--background-color: var(--color-theme);
	--body-color: var(--color-light);
}
html:is([data-scroll='0']) .top-section-theme * {--body-color: var(--color-light);}

html:is([data-scroll='0']) .top-section-theme-inverted {
	--background-color: var(--color-light);
	--body-color: var(--color-theme);
}
html:is([data-scroll='0']) .top-section-theme-inverted * {--body-color: var(--color-theme);}

html:is([data-scroll='0']) .top-section-theme-accents, html:is([data-scroll='0']) .top-section-theme-accents * {
	--body-color: var(--color-theme);
}

html:is([data-scroll='0']) .top-section-transparent {
	--background-color: transparent;
}

html:is([data-scroll='0']) .top-section-dots {
	background-image: url("../images/background/dot.svg");
}

/* 3.2: Element Colors */

.element-black *, *.element-black {
	--background-color: var(--color-white);
	--body-color: var(--color-black);
}

.element-dark *, *.element-dark {
	--background-color: var(--color-light);
	--body-color: var(--color-dark);
}

.element-white *, *.element-white {
	--background-color: var(--color-black);
	--body-color: var(--color-white);
}

.element-light *, *.element-light {
	--background-color: var(--color-dark);
	--body-color: var(--color-light);
}

.element-theme *, *.element-theme {
	--background-color: var(--color-light);
	--body-color: var(--color-theme);
}

.element-theme-inverted *, *.element-theme-inverted {
	--background-color: var(--color-theme);
	--body-color: var(--color-light);
}

html:is([data-scroll='0']) .top-element-black *, html:is([data-scroll='0']) *.top-element-black {
	--background-color: var(--color-white);
	--body-color: var(--color-black);
}

html:is([data-scroll='0']) .top-element-dark *, html:is([data-scroll='0']) *.top-element-dark {
	--background-color: var(--color-light);
	--body-color: var(--color-dark);
}

html:is([data-scroll='0']) .top-element-white *, html:is([data-scroll='0']) *.top-element-white {
	--background-color: var(--color-black);
	--body-color: var(--color-white);
}

html:is([data-scroll='0']) .top-element-light *, html:is([data-scroll='0']) *.top-element-light {
	--background-color: var(--color-dark);
	--body-color: var(--color-light);
}

html:is([data-scroll='0']) .top-element-theme *, html:is([data-scroll='0']) *.top-element-theme {
	--background-color: var(--color-light);
	--body-color: var(--color-theme);
}

html:is([data-scroll='0']) .top-element-theme-inverted *, html:is([data-scroll='0']) *.top-element-theme-inverted {
	--background-color: var(--color-theme);
	--body-color: var(--color-light);
}

/*	==============================================
	4: Buttons
	============================================== */
a.button {
	font-family: var(--title-font);
	font-weight: var(--title-weight);
	font-size: calc(var(--body-size) * 4/4);
	color: var(--background-color);
	padding: calc(var(--body-size) * 1/2 * 4/4);
	margin-right: 8px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border: calc(var(--body-size) * 1/8 * 4/4) solid var(--body-color);
	background-color: var(--body-color);
	display: inline-block;
	line-height: 1;
}
a.button * {
	font-size: calc(var(--body-size) * 4/4);
	color: var(--background-color);
	line-height: 1;
}

a.button:hover {
	background-color: transparent;
	color: var(--body-color);
}
a.button:hover * {
	color: var(--body-color);
}

a.button.hollow {
	background-color: transparent;
	color: var(--body-color);
}
a.button.hollow * {
	background-color: transparent;
	color: var(--body-color);
}

a.button.hollow:hover {
	background-color: var(--body-color);
	color: var(--background-color);
}
a.button.hollow:hover * {
	color: var(--color-black);
}

a.button.rounded {
	border-radius: 6px;
}

a.button.pill {
	border-radius: 1000px;
}

.large a.button, a.button.large {
	font-size: calc(var(--body-size) * 5/4);
	padding: calc(var(--body-size) * 1/2 * 5/4);
	border-width: calc(var(--body-size) * 1/8 * 5/4);
}
.large a.button *, a.button.large * {
	font-size: calc(var(--body-size) * 5/4);
}

.small a.button, a.button.small {
	font-size: calc(var(--body-size) * 3/4);
	padding: calc(var(--body-size) * 1/2 * 3/4);
	border-width: calc(var(--body-size) * 1/8 * 3/4);
}
.small a.button *, a.button.small * {
	font-size: calc(var(--body-size) * 3/4);
}

p a.button {
	margin: 0;
}

header a.button {
	margin: -12px 0;
}

/* 4.1: Small Screens */
@media only screen and (max-width: 54em) {
	a.button {
		font-size: calc(var(--body-size) * 3/4);
		padding: calc(var(--body-size) * 1/2 * 3/4);
		border: calc(var(--body-size) * 1/8 * 3/4) solid var(--color-black);
	}
	a.button * {
		font-size: calc(var(--body-size) * 3/4);
	}
	.large a.button, a.button.large {
		font-size: calc(var(--body-size) * 4/4);
		padding: calc(var(--body-size) * 1/2 * 4/4);
		border-width: calc(var(--body-size) * 1/8 * 4/4);
	}
	.large a.button *, a.button.large * {
		font-size: calc(var(--body-size) * 4/4);
	}

	.small a.button, a.button.small {
		font-size: calc(var(--body-size) * 3/4);
		padding: calc(var(--body-size) * 1/2 * 3/4);
		border-width: calc(var(--body-size) * 1/8 * 3/4);
	}
	.small a.button *, a.button.small * {
		font-size: calc(var(--body-size) * 3/4);
	}
}

@media only screen and (max-width: 35rem) {
	a.button {
		font-size: calc(var(--body-size) * 2/4);
		padding: calc(var(--body-size) * 1/2 * 2/4);
		border: calc(var(--body-size) * 1/8 * 2/4) solid var(--color-black);
	}
	a.button * {
		font-size: calc(var(--body-size) * 42/4);
	}
	.large a.button, a.button.large {
		font-size: calc(var(--body-size) * 3/4);
		padding: calc(var(--body-size) * 1/2 * 3/4);
		border-width: calc(var(--body-size) * 1/8 * 3/4);
	}
	.large a.button *, a.button.large * {
		font-size: calc(var(--body-size) * 3/4);
	}

	.small a.button, a.button.small {
		font-size: calc(var(--body-size) * 2/4);
		padding: calc(var(--body-size) * 1/2 * 2/4);
		border-width: calc(var(--body-size) * 1/8 * 2/4);
	}
	.small a.button *, a.button.small * {
		font-size: calc(var(--body-size) * 2/4);
	}
}

/*	==============================================
	5: Code
	============================================== */

code, pre, .code, {
	font-family: var(--monospace-font);
	background-color: #d0d0d0;
}

pre {
	padding: calc(var(--body-size) * 1/2);
	overflow-x: scroll;
}

/*	==============================================
	6: Header
	============================================== */

header {
	padding: 12px 0;
	font-weight: var(--title-weight);
	background-color: var(--background-color);
}

header, header *, header a.button {
	font-family: var(--body-font);
	font-size: calc(var(--body-font) * 4/4);
}

header.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

header.transparent {
	margin-bottom: -80px;
}

header ul {
	margin: 0;
	padding: 0;
}

header ul a {
	text-decoration: none;
}

header ul li {
	margin: 12px 0;
	margin-right: 16px;
	display: inline-block;
	text-transform: uppercase;
}

/* 6.1: Header Colors */

header.sticky {
	border-bottom: 2px solid var(--color-black);
	border-color: var(--body-color);
}

/* 6.2: Sticky headers */
html:is([data-scroll='0']) header.sticky {
	background-color: transparent;
	border: none;
}

/* 6.4: Small Screens */
@media only screen and (max-width: 54em) {
	header li, header a.button {
		font-size: calc(var(--body-font) * 3/4);
	}
}

@media only screen and (max-width: 35rem) {
	header li, header a.button {
		font-size: calc(var(--body-font) * 2/4);
	}
}

/*	==============================================
	7: Footer
	============================================== */

footer {
	margin: 0;
	padding: 10px 0;
}

footer.section-edgless {
	padding: 0;
}

footer h1 {font-size: calc(var(--title-size) * 3/4 * 9/9 * 4/4);}
footer h2 {font-size: calc(var(--title-size) * 3/4 * 8/9 * 4/4);}
footer h3 {font-size: calc(var(--title-size) * 3/4 * 7/9 * 4/4);}
footer h4 {font-size: calc(var(--title-size) * 3/4 * 6/9 * 4/4);}
footer h5 {font-size: calc(var(--title-size) * 3/4 * 5/9 * 4/4);}
footer h6 {font-size: calc(var(--title-size) * 3/4 * 4/9 * 4/4);}

/* 7.1: Small Screens */
@media only screen and (max-width: 54em) {
	footer h1 {font-size: calc(var(--title-size) * 3/4 * 9/9 * 3/4);}
	footer h2 {font-size: calc(var(--title-size) * 3/4 * 8/9 * 3/4);}
	footer h3 {font-size: calc(var(--title-size) * 3/4 * 7/9 * 3/4);}
	footer h4 {font-size: calc(var(--title-size) * 3/4 * 6/9 * 3/4);}
	footer h5 {font-size: calc(var(--title-size) * 3/4 * 5/9 * 3/4);}
	footer h6 {font-size: calc(var(--title-size) * 3/4 * 4/9 * 3/4);}
}

@media only screen and (max-width: 35rem) {
	footer h1 {font-size: calc(var(--title-size) * 3/4 * 9/9 * 2/4);}
	footer h2 {font-size: calc(var(--title-size) * 3/4 * 8/9 * 2/4);}
	footer h3 {font-size: calc(var(--title-size) * 3/4 * 7/9 * 2/4);}
	footer h4 {font-size: calc(var(--title-size) * 3/4 * 6/9 * 2/4);}
	footer h5 {font-size: calc(var(--title-size) * 3/4 * 5/9 * 2/4);}
	footer h6 {font-size: calc(var(--title-size) * 3/4 * 4/9 * 2/4);}
}

/*	==============================================
	8: Table
	============================================== */

table {
	border-spacing: 0px;
	width: 100%
}

th {
	padding: calc(var(--body-size) * 1/2);
	font-weight: 700;
}

td {
	padding: calc(var(--body-size) * 1/4) calc(var(--body-size) * 1/2);
}

tr td, tr th {
	text-align: right;
	border-right: 1px solid var(--body-color);
}

td + td, th + th {
	text-align: center;
	border-right: none;
}

table.index {
	font-family: var(--monospace-font);
	border: none;
}

table.index th {
	font-weight: bold;
	border-bottom: 2px solid var(--body-color);
}

table.index tr + table.index tr {
	border: none;
}

/*	==============================================
	9: Override
	============================================== */

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}
.text-center * {
	margin: auto;
}

.text-right {
	text-align: right;
}

.text-justified {
	text-align: justify;
}
