@import url("benjistokman.css");

@import url("nasalization/nasalization.css");

 :root {
	--theme-color: #85245d;
	--title-font: "Nasalization", sans-serif;
	--title-weight: 700;
}

button, a.button, input[type=submit] {
	--item-scale: 1;
}
